.woocommerce-ordering select,
.woocommerce .summary textarea,
.woocommerce .summary select,
.woocommerce .summary input[type=text],
.woocommerce .summary input[type=password],
.woocommerce .summary input[type=date],
div.woocommerce textarea,
div.woocommerce select,
div.woocommerce input[type=text],
div.woocommerce input[type=password],
div.woocommerce input[type=date],
div.woocommerce table.cart td.actions .coupon .input-text,
div.woocommerce #content table.cart td.actions .coupon .input-text {
	display: inline-block;
	width: 100%;
	padding: 4px 0;
	font-size: 14px;
	line-height: 1.857;
	border-width: 3px;
	border-bottom-style: solid;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	background-color: transparent;
}

div.woocommerce table.cart td.actions .coupon .input-text,
div.woocommerce #content table.cart td.actions .coupon .input-text {
	background-color: transparent;
	min-width: 150px;
	width: auto;
	margin-right: 5px;
}

div.woocommerce textarea,
div.woocommerce select {
	-moz-appearance: none;
}

div.woocommerce select,
div.woocommerce input[type=text],
div.woocommerce input[type=password],
div.woocommerce input[type=date] {
	height: 35px;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	margin-right: 0;
	padding-right: 40px;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
	background: #f5f5f5;
	padding-left: 54px !important;
}

.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message,
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register,
.woocommerce-page form.checkout_coupon,
.woocommerce-page form.login,
.woocommerce-page form.register,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce #payment,
.woocommerce-page #payment,
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	     -o-border-radius: 0;
	     	border-radius: 0;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
	height: 100%;
	width: 55px;
	left: 0;
	top: 0;
	padding-top: 15px;
	text-align: center;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
	margin-bottom: 0;
	border-top: 0;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message,
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message,
.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img,
.woocommerce ul.products li.product a:hover img,
.woocommerce-page ul.products li.product a:hover img,
.woocommerce #content div.product div.images img,
.woocommerce div.product div.images img,
.woocommerce-page #content div.product div.images img,
.woocommerce-page div.product div.images img,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel,
.woocommerce #payment div.payment_box,
.woocommerce-page #payment div.payment_box,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.cart_list li img,
.woocommerce-page ul.product_list_widget li img,
p.demo_store {
	-webkit-box-shadow: 0 0 0 0;
			box-shadow: 0 0 0 0;
}

.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
.woocommerce #payment div.payment_box,
.woocommerce-page #payment div.payment_box {
	text-shadow: 0 0 0 transparent;
}

.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-ordering,
.woocommerce-page .woocommerce-result-count,
.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
	margin-bottom: 40px;
}

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce-page span.onsale {
	text-transform: uppercase;
	margin-right: 0;
	margin-top: 10px;
	left: 0;
	right: auto;
	line-height: 1.6em;
	height: auto;
	min-height: inherit;
	padding-left: 30px;
	padding-right: 10px;
	background: #fff;
}

.single.woocommerce .row .onsale,
.single.woocommerce-page .row .onsale,
.single.woocommerce .row span.onsale,
.single.woocommerce-page .row span.onsale {
	margin-top: 0;
	position: static;
	padding: 0;
}

.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart input,
.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
	line-height: 1.857em;
}

.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart,
.woocommerce #content table.cart input,
.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce.widget_product_search input {
	border-style: solid;
	border-width: 1px;
	padding: 4px 20px;
}

.woocommerce.widget_product_search input,
.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart {
	border-width: 1px;
	border-style: solid;
}

.woocommerce a.added_to_cart:hover,
.woocommerce-page a.added_to_cart:hover {
	background-color: transparent;
}

.wc-forward a:after,
.wc-forward:after {
	content: '';
	display: none;
}

.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover {
	font-weight: normal;
	background: none;
}

.woocommerce #content input.button:active,
.woocommerce #respond input#submit:active,
.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce-page #content input.button:active,
.woocommerce-page #respond input#submit:active,
.woocommerce-page a.button:active,
.woocommerce-page button.button:active,
.woocommerce-page input.button:active {
	top: auto;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce ul.products li.product .button,
.woocommerce-page ul.products li.product .button {
	padding-right: 36px;
}

.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3,
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
	margin-bottom: 0;
	float: left;
}

.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
	font-size: 1.571em;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
	padding-left: 20px;
	text-align: right;
	width: 40%;
	line-height: 1.143em;
}

.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
	font-size: 1.857em;
	width: 60%;
	padding-right: 20px;
	padding-top: 0;
	padding-bottom: 20px;
}

.woocommerce ul.products li.product .price span.amount,
.woocommerce-page ul.products li.product .price span.amount,
.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del,
.woocommerce ul.products li.product .price ins,
.woocommerce-page ul.products li.product .price ins {
	line-height: 1.2em;
}

.woocommerce ul.products li.product .price ins,
.woocommerce-page ul.products li.product .price ins {
	display: block;
}

.woocommerce div.product p.price del,
.woocommerce-page div.product p.price del,
.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-size: 0.818em;
	-webkit-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
}

.woocommerce div.product p.price del:before,
.woocommerce-page div.product p.price del:before,
.woocommerce ul.products li.product .price del:before,
.woocommerce-page ul.products li.product .price del:before {
	position: absolute;
	content: '';
	left: -5px;
	right: -5px;
	top: 50%;
	border-width: 1px;
	border-bottom-style: solid;
	-webkit-transform: rotate(-12deg);
	   -moz-transform: rotate(-12deg);
    	-ms-transform: rotate(-12deg);
    	 -o-transform: rotate(-12deg);
			transform: rotate(-12deg);
}

.woocommerce div.product p.price ins,
.woocommerce-page div.product p.price ins,
.woocommerce ul.products li.product .price ins,
.woocommerce-page ul.products li.product .price ins {
	text-decoration: none;
	font-size: 1em;
}

.woocommerce a.button:before,
.woocommerce button.button:before,
.woocommerce-page a.button:before,
.woocommerce-page button.button:before,
.woocommerce a.button.loading:before,
.woocommerce button.button.loading:before,
.woocommerce-page a.button.loading:before,
.woocommerce-page button.button.loading:before,
.woocommerce a.button.added:before,
.woocommerce button.button.added:before,
.woocommerce-page a.button.added:before,
.woocommerce-page button.button.added:before {
	position: absolute;
    right: 12px;
    left: auto;
    top: 9px;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1em;
    display: inline-block;
}

.woocommerce a.button:after,
.woocommerce button.button:after,
.woocommerce input.button:after {
	display: none;
	content: '';
}

.woocommerce a.button:before,
.woocommerce button.button:before,
.woocommerce-page a.button:before,
.woocommerce-page button.button:before {
	content: '\2192';
}

.woocommerce a.button.cancel:before,
.woocommerce button.button.cancel:before,
.woocommerce-page a.button.cancel:before,
.woocommerce-page button.button.cancel:before {
	content: '\00d7';
}

.woocommerce a.button.single_add_to_cart_button:before,
.woocommerce button.button.single_add_to_cart_button:before,
.woocommerce-page a.button.single_add_to_cart_button:before,
.woocommerce-page button.button.single_add_to_cart_button:before,
.woocommerce a.button.add_to_cart_button:not(.product_type_variable):before,
.woocommerce button.button.add_to_cart_button:not(.product_type_variable):before,
.woocommerce-page a.button.add_to_cart_button:not(.product_type_variable):before,
.woocommerce-page button.button.add_to_cart_button:not(.product_type_variable):before {
	content: '+';
}

.woocommerce a.button.loading.add_to_cart_button:before,
.woocommerce button.button.loading.add_to_cart_button:before,
.woocommerce-page a.button.loading.add_to_cart_button:before,
.woocommerce-page button.button.loading.add_to_cart_button:before {
	background: none transparent;
	font-family: 'fontello';
	content: '\e8ad';

	-moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.woocommerce a.button.added.add_to_cart_button:before,
.woocommerce button.button.added.add_to_cart_button:before,
.woocommerce-page a.button.added.add_to_cart_button:before,
.woocommerce-page button.button.added.add_to_cart_button:before {
	font-family: 'WooCommerce';
	content: '\e017';
}

.woocommerce .products ul,
.woocommerce ul.products,
.woocommerce-page .products ul,
.woocommerce-page ul.products {
	margin-right: -40px;
}

.woocommerce.columns-1 > ul.products > li.product {
	width: 100%;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	display: inline-block !important;
	float: none;
	vertical-align: top;
	margin-right: -.3em;
	margin-bottom: 50px;
}

body.single:not(.woocommerce) woocommerce:not(.columns-1) > ul.products li.product,
.woocommerce.columns-2 > ul.products > li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	width: 50%;
}

body.single:not(.woocommerce) .woocommerce.columns-3 > ul.products li.product,
body.single:not(.woocommerce) .woocommerce.columns-4 > ul.products li.product,
body.single:not(.woocommerce) .woocommerce.columns-5 > ul.products li.product,
.ef-woo-shop-large > ul.products > li.product,
.woocommerce.columns-3 > ul.products > li.product {
	width: 33.3%;
}

.ef-woo-shop-medium > ul.products > li.product,
.woocommerce.columns-4 > ul.products > li.product,
.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product {
	width: 25%;
}

.ef-woo-shop-small > ul.products > li.product,
.woocommerce.columns-5 > ul.products > li.product {
	width: 20%;
}

@media only screen and (max-width: 1440px) {
	body.single:not(.woocommerce) .woocommerce.columns-3 > ul.products li.product,
	body.single:not(.woocommerce) .woocommerce.columns-4 > ul.products li.product,
	body.single:not(.woocommerce) .woocommerce.columns-5 > ul.products li.product,
	.ef-woo-shop-large > ul.products > li.product,
	.woocommerce.columns-3 > ul.products > li.product {
		width: 50%;
	}

	.woocommerce.columns-4 > ul.products > li.product,
	.ef-woo-shop-medium > ul.products > li.product {
		width: 33.3%;
	}

	.ef-woo-shop-small > ul.products > li.product,
	.woocommerce.columns-5 > ul.products > li.product {
		width: 25%;
	}
}

@media only screen and (max-width: 1200px) {
	.woocommerce.columns-4 > ul.products > li.product,
	.ef-woo-shop-medium > ul.products > li.product,
	.woocommerce .related ul li.product,
	.woocommerce .related ul.products li.product,
	.woocommerce-page .related ul li.product,
	.woocommerce-page .related ul.products li.product {
		width: 50%;
	}

	.ef-woo-shop-small > ul.products > li.product,
	.woocommerce.columns-5 > ul.products > li.product {
		width: 33.3%;
	}
}

@media only screen and (max-width: 768px) {
	body.single:not(.woocommerce) .woocommerce.columns-1 > ul.products li.product,
	body.single:not(.woocommerce) .woocommerce.columns-2 > ul.products li.product,
	body.single:not(.woocommerce) .woocommerce.columns-3 > ul.products li.product,
	body.single:not(.woocommerce) .woocommerce.columns-4 > ul.products li.product,
	body.single:not(.woocommerce) .woocommerce.columns-5 > ul.products li.product,
	.woocommerce.columns-5 > ul.products > li.product,
	.woocommerce.columns-4 > ul.products > li.product,
	.woocommerce.columns-3 > ul.products > li.product,
	.woocommerce.columns-2 > ul.products > li.product,
	.woocommerce.columns-1 > ul.products > li.product,
	.woocommerce .related ul li.product,
	.woocommerce .related ul.products li.product,
	.woocommerce-page .related ul li.product,
	.woocommerce-page .related ul.products li.product,
	.ef-woo-shop-large > ul.products > li.product,
	.ef-woo-shop-medium > ul.products > li.product,
	.ef-woo-shop-small > ul.products > li.product {
		width: 100%;
		float: none;
	}
}

.woocommerce .related,
.woocommerce-page .related {
	margin-top: 40px;
}

.ef-woo-loop-title {
	display: block;
	position: relative;
}

.woocommerce .products .star-rating,
.woocommerce-page .products .star-rating {
	position: absolute;
	right: 55px;
	top: 15px;
	height: 1.1em;
}

.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity,
.woocommerce #content div.product form.cart div.quantity,
.woocommerce div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity {
	width: 80px;
}

.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity {
	float: left;
}

.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
	width: 60px;
	height: 36px;
	line-height: 1.857em;
	padding: 4px 0;
	text-align: center;
}

.woocommerce #content .quantity .minus:hover,
.woocommerce #content .quantity .plus:hover,
.woocommerce .quantity .minus:hover,
.woocommerce .quantity .plus:hover,
.woocommerce-page #content .quantity .minus:hover,
.woocommerce-page #content .quantity .plus:hover,
.woocommerce-page .quantity .minus:hover,
.woocommerce-page .quantity .plus:hover,
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus {
	background: #fff;
}

.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus {
	position: absolute;
	height: 50%;
}

.woocommerce #content .quantity .minus,
.woocommerce .quantity .minus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page .quantity .minus {
	bottom: 0;
}

.woocommerce #payment div.form-row,
.woocommerce-page #payment div.form-row {
	border-top-style: none;
}

.woocommerce form.checkout_coupon,
.woocommerce-page form.checkout_coupon,
.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
	border-style: none;
}

.woocommerce form.checkout_coupon input,
.woocommerce-page form.checkout_coupon input {
	background-color: transparent;
}

.woocommerce .woocommerce-error a:not(.button),
.woocommerce .woocommerce-info a:not(.button),
.woocommerce .woocommerce-message a:not(.button),
.woocommerce-page .woocommerce-error a:not(.button),
.woocommerce-page .woocommerce-info a:not(.button),
.woocommerce-page .woocommerce-message a:not(.button),
.woocommerce .shop_table .product-name a:not(.button),
.woocommerce-page .shop_table .product-name a:not(.button) {
	font-weight: 700;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after {
	display: none;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images {
	margin-bottom: 50px;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	width: 50%;
	float: left;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	padding-left: 40px;
}

@media only screen and (max-width: 768px) {
	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images,
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		width: auto;
		float: none;
	}

	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		padding-left: 0;
	}
}

.single.woocommerce #content div.product .product_title,
.single.woocommerce div.product .product_title,
.single.woocommerce-page #content div.product .product_title,
.single.woocommerce-page div.product .product_title,
.single.woocommerce .woocommerce-product-rating,
.single.woocommerce-page .woocommerce-product-rating {
	margin-bottom: 30px;
}

.single.woocommerce .woocommerce-product-rating,
.single.woocommerce-page .woocommerce-product-rating {
	margin-top: -20px;
}

.woocommerce .related > h2,
.woocommerce .related > h2,
.woocommerce-page .related > h2,
.woocommerce-page .related > h2 {
	text-align: center;
}

.woocommerce .myaccount_user,
.woocommerce-page .myaccount_user {
	padding: 30px 40px;
}

.woocommerce #review_form #respond .ef-block-merger,
.woocommerce-page #review_form #respond .ef-block-merger,
.woocommerce #review_form #respond p.stars,
.woocommerce-page #review_form #respond p.stars,
.woocommerce #review_form #respond div.comment-form-rating label,
.woocommerce-page #review_form #respond div.comment-form-rating label {
	margin-bottom: 0;
}

.woocommerce #review_form #respond div.comment-form-rating,
.woocommerce-page #review_form #respond div.comment-form-rating {
	border-width: 3px;
	border-bottom-style: solid;
}

.woocommerce #review_form #respond p.stars,
.woocommerce-page #review_form #respond p.stars {
	display: inline-block;
}

.woocommerce #review_form #respond div.comment-form-rating label,
.woocommerce-page #review_form #respond div.comment-form-rating label {
	font-weight: normal;
	margin-right: 30px;
}

.woocommerce #review_form #respond .comment-form-rating,
.woocommerce-page #review_form #respond .comment-form-rating {
	text-align: left;
}

.woocommerce #reviews #comments h2,
.woocommerce-page #reviews #comments h2 {
	display: none;
}

.woocommerce .related > h2,
.woocommerce .related > h2,
.woocommerce-page .related > h2,
.woocommerce-page .related > h2 {
	margin-bottom: 60px;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
	display: table;
	width: 100%;
	margin-bottom: 40px;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
	display: block;
	text-align: center;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	margin: 0;
	border-style: none;
	display: table-cell;
	width: auto;
	background: none;
	border-style: none;
	border-color: transparent;
}

@media only screen and (max-width: 767px) {
	.woocommerce #content div.product .woocommerce-tabs ul.tabs,
	.woocommerce div.product .woocommerce-tabs ul.tabs,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs,
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
		display: block;
	}
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
	padding: 0;
}

.woocommerce .variations_form .single_variation_wrap,
.woocommerce-page .variations_form .single_variation_wrap {
	overflow: hidden;
}

.woocommerce .cart .single_variation_wrap,
.woocommerce-page .cart .single_variation_wrap {
	margin-top: 25px;
}

.woocommerce #reviews #respond h3,
.woocommerce-page #reviews #respond h3,
.woocommerce .product_meta
.woocommerce-page .product_meta {
	margin-bottom: 25px;
}

.woocommerce .product_meta > span,
.woocommerce-page .product_meta > span {
	display: block;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before {
	display: none;
	left: auto;
	right: auto;
	border-style: none;
}

.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel {
	border-style: none;
}

.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce-page .woocommerce-product-rating .star-rating {
	display: inline-block;
	float: none;
	margin-top: 0;
	margin-right: 0;
}

.woocommerce .woocommerce-product-rating .woocommerce-review-link,
.woocommerce-page .woocommerce-product-rating .woocommerce-review-link {
	display: inline-block;
	margin-left: -5.4em;
	width: 5.4em;
	line-height: 1em;
	overflow: hidden;
	text-indent: -9999px;
	position: relative;
}

.woocommerce p.stars a.star-1,
.woocommerce p.stars a.star-2,
.woocommerce p.stars a.star-3,
.woocommerce p.stars a.star-4,
.woocommerce p.stars a.star-5,
.woocommerce-page p.stars a.star-1,
.woocommerce-page p.stars a.star-2,
.woocommerce-page p.stars a.star-3,
.woocommerce-page p.stars a.star-4,
.woocommerce-page p.stars a.star-5 {
	border-style: none;
	margin-right: 0;
}

.woocommerce table.shop_table > thead,
.woocommerce-page table.shop_table > thead,
.woocommerce-page.woocommerce-account h3,
.woocommerce-page.woocommerce-checkout h3 {
	font-size: 1.571em;
}

.woocommerce table.shop_table > thead th,
.woocommerce-page table.shop_table > thead th {
	padding-left: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.woocommerce #content div.product form.cart .variations label,
.woocommerce div.product form.cart .variations label,
.woocommerce-page #content div.product form.cart .variations label,
.woocommerce-page div.product form.cart .variations label {
	font-size: 1em;
	line-height: 1.857em;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	width: 74px;
	text-align: left;
	padding-top: 7px;
	padding-bottom: 7px;
}

.woocommerce #content div.product form.cart .variations select,
.woocommerce div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select {
	width: auto;
	max-width: 100%;
	margin-right: 10px;
}

.woocommerce #content div.product form.cart .variations,
.woocommerce div.product form.cart .variations,
.woocommerce-page #content div.product form.cart .variations,
.woocommerce-page div.product form.cart .variations,
.woocommerce td.product-name dl.variation dd,
.woocommerce td.product-name dl.variation dt,
.woocommerce-page td.product-name dl.variation dd,
.woocommerce-page td.product-name dl.variation dt,
.woocommerce .single_variation_wrap .stock,
.woocommerce-page .single_variation_wrap .stock {
	margin-bottom: 0;
}

.woocommerce table.shop_table td.product-remove,
.woocommerce-page table.shop_table td.product-remove {
	padding-right: 0;
	width: 30px;
	vertical-align: top;
}

.woocommerce table.cart a.remove,
.woocommerce #content table.cart a.remove,
.woocommerce-page table.cart a.remove,
.woocommerce-page #content table.cart a.remove {
	line-height: 0.9em;
	color: #f05e5e;
}

.woocommerce table.cart a.remove:hover,
.woocommerce #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover {
	background-color: #f05e5e;
}

.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
	border-top-style: dotted;
}

.woocommerce.woocommerce-cart table.shop_table td,
.woocommerce-page.woocommerce-cart table.shop_table td,
.woocommerce table.shop_table td.actions,
.woocommerce-page table.shop_table td.actions {
	padding: 40px 0 15px;
}

.woocommerce.woocommerce-checkout table.shop_table th,
.woocommerce-page.woocommerce-checkout table.shop_table th,
.woocommerce.woocommerce-account table.shop_table th,
.woocommerce-page.woocommerce-account table.shop_table th,
.woocommerce.woocommerce-checkout table.shop_table td,
.woocommerce-page.woocommerce-checkout table.shop_table td,
.woocommerce.woocommerce-account table.shop_table td,
.woocommerce-page.woocommerce-account table.shop_table td {
	padding-left: 40px;
	padding-right: 40px;
}

.woocommerce.woocommerce-account table.shop_table td.order-number,
.woocommerce-page.woocommerce-account table.shop_table td.order-number,
.woocommerce .myaccount_user a,
.woocommerce-page .myaccount_user a {
	font-weight: 700;
}

.woocommerce #ship-to-different-address label,
.woocommerce-page #ship-to-different-address label {
	padding-left: 0;
}

.woocommerce #order_review_heading,
.woocommerce-page #order_review_heading {
	padding-left: 30px;
}

.woocommerce #order_review_heading,
.woocommerce-page #order_review_heading,
.woocommerce .cart-collaterals .cart_totals h2,
.woocommerce-page .cart-collaterals .cart_totals h2 {
	font-size: 3em;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
	float: none;
	width: auto;
}

.woocommerce .cart-collaterals .shipping_calculator > h2,
.woocommerce-page .cart-collaterals .shipping_calculator > h2 {
	font-size: 1em;
	letter-spacing: 0;
}

.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after,
.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -0.5em;
}

.woocommerce .cart-collaterals .shipping_calculator > h2 a,
.woocommerce-page .cart-collaterals .shipping_calculator > h2 a {
	position: relative;
	display: block;
	padding: 20px;
}

.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after,
.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
	font-family: 'fontello';
	content: '\e88d';
}

.shipping-calculator-form > p,
.woocommerce-account input[type="submit"] {
	margin-top: 25px;
}

.shipping-calculator-form button.button {
	margin-top: 15px;
}

.woocommerce .cart-collaterals .cart_totals > table,
.woocommerce-page .cart-collaterals .cart_totals > table {
	width: 100%;
}

.woocommerce div.product div.images div.thumbnails,
.woocommerce-page div.product div.images div.thumbnails {
	padding-top: 4px;
	margin-right: -4px;
}

.woocommerce div.product div.thumbnails > a,
.woocommerce-page div.product div.thumbnails > a {
	width: 33.3%;
	margin-right: 0;
	padding-bottom: 4px;
}

.woocommerce div.product div.thumbnails > a,
.woocommerce-page div.product div.thumbnails > a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
	margin-top: 0;
	padding-right: 4px;
}

.woocommerce .order_details li,
.woocommerce-page .order_details li {
	border-right-style: dotted;
	border-color: #91e2b4;
}

.woocommerce ul.order_details,
.woocommerce-page ul.order_details {
	padding: 20px 30px;
	display: inline-block;
	border: 2px dashed #91e2b4;
	-webkit-box-shadow: 0 0 0 3px #91e2b4;
	box-shadow: inset 0 0 0 3px #91e2b4;
}

.woocommerce #customer_details,
.woocommerce-page #customer_details {
	margin-bottom: 40px;
}

.woocommerce form .form-row,
.woocommerce-page form .form-row,
.woocommerce #customer_details label,
.woocommerce-page #customer_details label {
	margin-bottom: 0;
}

.woocommerce #order_review tbody tr,
.woocommerce-page #order_review tbody tr {
	background-color: #f0f0f0;
}

.woocommerce #payment div.payment_box,
.woocommerce-page #payment div.payment_box {
	width: auto;
	background: none;
}

.woocommerce #payment ul.payment_methods,
.woocommerce-page #payment ul.payment_methods {
	padding: 40px;
}

.woocommerce table.cart img,
.woocommerce #content table.cart img,
.woocommerce-page table.cart img,
.woocommerce-page #content table.cart img {
	width: 100px;
}

.woocommerce ul.pagination {
	margin-top: 0;
}

p.demo_store {
	background: #262626;
	border: 0;
}

/* YITH WooCommerce Zoom Magnifier adjustments */

.single-product.woocommerce.woocommerce-page .thumbnails #slider-prev,
.single-product.woocommerce.woocommerce-page .thumbnails #slider-next {
	background-image: none;
	background-color: #fff;
	text-align: center;
	font-size: 2em;
	height: 40px;
	line-height: 35px;
	top: 50%;
	margin-top: -20px;
}

.single-product.woocommerce.woocommerce-page .thumbnails #slider-prev:before,
.single-product.woocommerce.woocommerce-page .thumbnails #slider-next:before {
	font-family: 'fontello';
	line-height: 1em;
}

.single-product.woocommerce.woocommerce-page .thumbnails #slider-prev:before {
	content: '\2039';
}

.single-product.woocommerce.woocommerce-page .thumbnails #slider-next:before {
	content: '\203A';
}

.woocommerce .yith_magnifier_zoom_magnifier {
	border-width: 1px;
}

/* Shopping cart in the header */

#ef-woo-shopping-cart {
	top: 118px;
	right: 40px;
	position: fixed;
	z-index: 199;
}

#ef-woo-shopping-cart a.button {
	display: block;
}

#ef-woo-shopping-cart a.button:not(.checkout) {
	margin-bottom: 10px;
}

.ef-has-parent-link #ef-woo-shopping-cart {
	top: 186px;
}

.admin-bar #ef-woo-shopping-cart {
	top: 150px;
}

.admin-bar.ef-has-parent-link #ef-woo-shopping-cart {
	top: 218px;
}

#ef-woo-shopping-cart .ef-mini-cart,
#ef-woo-shopping-cart a.cart-contents > span {
	position: absolute;
}

#ef-woo-shopping-cart .ef-mini-cart {
	top: 45px;
	right: 0;
	width: 300px;
	display: none;

	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
			box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
}

#ef-woo-shopping-cart .ef-mini-cart:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: -10px;
	right: 0;
	border-style: solid;
	border-width: 0 0 10px 10px;
	border-color: transparent transparent #fff;
}

#ef-woo-shopping-cart .ef-mini-cart > div {
	padding: 20px 30px;
}

#ef-woo-shopping-cart .ef-mini-cart h6 {
	border-width: 3px;
	border-bottom-style: solid;
	padding-bottom: 10px;
}

#ef-woo-shopping-cart .ef-mini-cart p.buttons {
	margin-bottom: 10px;
}

#ef-woo-shopping-cart a:not(.button) {
	line-height: 1.429em;
}

#ef-woo-shopping-cart a.remove {
	line-height: 21px;
}

#ef-woo-shopping-cart a.cart-contents {
	position: relative;
	display: block;
	border: 3px solid;
	height: 23px;
	width: 23px;
}

#ef-woo-shopping-cart a.cart-contents,
#ef-woo-shopping-cart a.cart-contents:before {
-webkit-transition: border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
    -moz-transition: border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
    -ms-transition: border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
    -o-transition: border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
    transition: border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
}

#ef-woo-shopping-cart a.cart-contents:before {
	position: absolute;
	content: '';
	top: -9px;
	left: 3px;
	right: 3px;
	height: 12px;
	border: 2px solid;
	border-bottom-style: none;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
}

#ef-woo-shopping-cart a.cart-contents > span {
	padding: 0 0.500em;
	left: 75%;
	top: -1em;
}

#ef-woo-shopping-cart .ef-mini-cart li.empty {
	text-align: center;
}

/* Widgets */

.woocommerce .widget_price_filter .price_slider,
.woocommerce-page .widget_price_filter .price_slider {
	margin-bottom: 25px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce .widget_price_filter .ui-slider-horizontal,
.woocommerce-page .widget_price_filter .ui-slider-horizontal,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	background-image: none;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce .widget_price_filter .ui-slider-horizontal,
.woocommerce-page .widget_price_filter .ui-slider-horizontal,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #fff;
}

.woocommerce .widget_price_filter .ui-slider-horizontal,
.woocommerce-page .widget_price_filter .ui-slider-horizontal,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
	height: 3px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	top: -0.3em;
}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li,
.woocommerce-page ul.cart_list li,
.woocommerce-page ul.product_list_widget li {
	margin-bottom: 7px;
}

.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd,
.woocommerce-page ul.cart_list li dl dd,
.woocommerce-page ul.product_list_widget li dl dd {
	margin-bottom: 0;
}

.woocommerce ul.cart_list.product_list_widget li dl.variation,
.woocommerce-page ul.cart_list.product_list_widget li dl.variation {
	margin-top: 4px;
}

/* Comments */

.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	border-style: none;
}

.woocommerce #reviews #comments ol.commentlist,
.woocommerce-page #reviews #comments ol.commentlist,
.woocommerce #reviews #comments ol.commentlist li,
.woocommerce-page #reviews #comments ol.commentlist l {
	padding-bottom: 20px;
	padding-left: 0;
}

.woocommerce #reviews #comments ol.commentlist li,
.woocommerce-page #reviews #comments ol.commentlist li {
	position: relative;
	border-width: 1px;
	border-bottom-style: solid;
}

.woocommerce #reviews #comments ol.commentlist li:after,
.woocommerce-page #reviews #comments ol.commentlist li:after {
	position: absolute;
	content: '';
	width: 30px;
	height: 1px;
	bottom: -1px;
	left: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size: 1em;
	text-transform: uppercase;
}

/**/

.woocommerce.widget_product_search label {
	display: block;
}

@media only screen and (max-width: 600px) {
	.woocommerce-page table.cart td.actions .button.alt,
	.woocommerce-page #content table.cart td.actions .button.alt {
		margin-top: 0 !important;
	}

	.woocommerce-page table.shop_table,
	.woocommerce-page table.shop_table thead,
	.woocommerce-page table.shop_table tbody,
	.woocommerce-page table.shop_table th,
	.woocommerce-page table.shop_table td,
	.woocommerce-page table.shop_table tr {
		display: block;
		margin-top: -1px;
	}
	.woocommerce #content .quantity,
	.woocommerce .quantity,
	.woocommerce-page #content .quantity,
	.woocommerce-page .quantity {
		float: none;
	}

	.woocommerce #content table.cart a.remove,
	.woocommerce table.cart a.remove,
	.woocommerce-page #content table.cart a.remove,
	.woocommerce-page table.cart a.remove {
		position: absolute;
		right: -0.5em;
		bottom: -0.5em;
		z-index: 1;
		background-color: #f05e5e;
		color: #fff;
	}
	.woocommerce table.shop_table td.product-remove,
	.woocommerce-page table.shop_table td.product-remove {
		width: 100%;
	}

	div.woocommerce table.cart td.actions .coupon .input-text,
	div.woocommerce #content table.cart td.actions .coupon .input-text,
	.woocommerce #content table.cart td.actions .button,
	.woocommerce #content table.cart td.actions .input-text,
	.woocommerce #content table.cart td.actions input,
	.woocommerce table.cart td.actions .button,
	.woocommerce table.cart td.actions .input-text,
	.woocommerce table.cart td.actions input,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions .input-text,
	.woocommerce-page #content table.cart td.actions input,
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .input-text,
	.woocommerce-page table.cart td.actions input,
	.woocommerce #content table.cart td.actions .button.alt,
	.woocommerce #content table.cart td.actions .input-text + .button,
	.woocommerce table.cart td.actions .button.alt,
	.woocommerce table.cart td.actions .input-text + .button,
	.woocommerce-page #content table.cart td.actions .button.alt,
	.woocommerce-page #content table.cart td.actions .input-text + .button,
	.woocommerce-page table.cart td.actions .button.alt,
	.woocommerce-page table.cart td.actions .input-text + .button {
		display: block;
		width: 100%;
		float: none;
	}

	div.woocommerce table.cart td.actions .coupon .input-text,
	div.woocommerce #content table.cart td.actions .coupon .input-text {
		margin-bottom: 10px;
	}

	.woocommerce table.shop_table tfoot,
	.woocommerce-page table.shop_table tfoot,
	.woocommerce table.shop_table tfoot th,
	.woocommerce-page table.shop_table tfoot th {
		width: 100%;
		display: block;
		text-align: center;
	}

	.woocommerce table.shop_table tfoot th,
	.woocommerce-page table.shop_table tfoot th,
	.woocommerce table.shop_table tfoot td,
	.woocommerce-page table.shop_table tfoot td {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	.woocommerce-page table.shop_table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.woocommerce-page table.shop_table td {
		border: 1px solid #eaeaea;
		position: relative;
		padding-left: 30% !important;
	}

	.woocommerce-page table.shop_table {
		border: none;
	}

	.woocommerce-page table.shop_table td:before {
		position: absolute;
		top: 15px;
		margin-top: -0.5em;
		left: 10px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		color: #9d9d9d;
		font-size: 0.7em;
	}

	.woocommerce-page table.shop_table td.product-remove {
		border: 0;
	}

	.woocommerce-page table.shop_table td.product-thumbnail:before {
		content: "IMAGE";
	}

	.woocommerce-page table.shop_table td.product-name:before {
		content: "PRODUCT";
	}

	.woocommerce-page table.shop_table td.product-price:before {
		content: "PRICE";
	}

	.woocommerce-page table.shop_table td.product-quantity:before {
		content: "QUANTITY";
	}

	.woocommerce-page table.shop_table td.product-subtotal:before {
		content: "SUBTOTAL";
	}

	.woocommerce-page table.shop_table td.product-total:before {
		content: "TOTAL";
	}

	.woocommerce .quantity,
	.woocommerce #content .quantity,
	.woocommerce-page .quantity,
	.woocommerce-page #content .quantity {
		margin: 0;
	}

	.woocommerce-page table.cart td.actions,
	.woocommerce-page #content table.cart td.actions {
		text-align: left;
		border:0;
		padding-left: 6px !important;
	}

	.woocommerce-page table.cart td.actions .button.alt,
	.woocommerce-page #content table.cart td.actions .button.alt {
		float: left;
		margin-top: 10px;
	}

	.woocommerce-page table.cart td.actions div,
	.woocommerce-page #content table.cart td.actions div,
	.woocommerce-page table.cart td.actions input,
	.woocommerce-page #content table.cart td.actions input {
		margin-bottom: 10px;
	}
}
